name: Bump Version & Tag

on:
  push:
    branches:
      - main

jobs:
  bump:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: true

      - name: Check Version
        id: semver
        uses: paulhatch/semantic-version@v5.4.0
        with:
          tag_prefix: ""
          major_pattern: "BREAKING CHANGE"
          minor_pattern: "feat"
          search_commit_body: true
          enable_prerelease_mode: true

      - name: Push Tag
        run: |
          git tag ${{ steps.semver.outputs.version }}
          git push https://x-access-token:${{ secrets.TOKEN }}@github.com/${{ github.repository }} ${{ steps.semver.outputs.version }}

